<div class="containter">
  <!-- <h1>Tic Tac Toe</h1> -->
  <h1>{{dynamicTitle()}}</h1>
  <center>
    <table border="3" width="300" height="300" id="board">
      <tr ng-repeat="row in currentBoard">
        <td ng-repeat="cell in row" ng-click="toX(cell)">{{cell.state}}</td>
      </tr>
    </table>
    <button ng-click="resetBoard()">Reset Board</button>
  </center>
</div>