<!DOCTYPE html>
<html ng-app="ticTacToeApp" ng-controller="MainController">
  <head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script type="text/javascript" src="/js/modules.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>